body{
  background:#222;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(17, 1, 1);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.add-btn{
  margin-left: 20px;
  margin-top:20px;
  background-color:rgb(26, 201, 3);
  color:white;
  border-radius:5px;
  height: 32px;
  font-weight: bold;
}

.app-title{
  text-align: center;
  color:rgb(8, 211, 8);
}
.input-text{
  margin-top:20px;
  height:30px;
  width:260px;
  padding-left: 10px;
  font-family:sans-serif;
  font-weight:bold;
  border-radius: 5px;
  border-style:none;
}
.logo{
  margin-top:100px;
  margin-left: 100px;
  text-align: center;
}
.list{
  margin-top:50px;

}
.list li{
  padding:7px;
  height:31px;
  border-bottom-style:groove;
  border-bottom-color:black;
  width:350px;
  position: relative;
  background-color: white;
  border-color:rgb(248, 244, 4);
}
label{
  position: absolute;
  top:11px;
  font-size: 17px;
  letter-spacing: 1.5px;
  font-family: sans-serif;
  font-style: oblique;
}
.btn{
  position:absolute;
  right:4px;
  height:30px;
  color:white;
  border-radius:5px;
  font-weight: bold;
  background-color:red;
  margin-bottom: 70px;
}
.checkbox{
  padding:5px;
  height:16px;
  width:16px;
}
.container{
  color:#fff;
}
li{
  list-style-type: none;
}